<div style="margin-left:2%; margin-right:2%;margin-top:2%">

   <button mat-raised-button color="accent" class="sync_job_btn" (click)="synJobs()">
      Sync Jobs
   </button>

  <!-- Start -->
   <div class="overall_job_box">
      <div class="job-wrapper">
         <div class="job-box">
            <div class="title-left">
               <div class="job_title">
                  Senior Creative Front End Web Developer
               </div>
               <div class="job_company">
                  company : SweetRush
               </div>
               <div class="job_location">
                  location : Remote
               </div>
               <div class="job_type">
                  Job type : Remote
               </div>
               <div class="job_created_at">
                  Date : Wed May 19 00:49:17 UTC 2021
               </div>
               <div class="job_view_link">
                  <button mat-raised-button color="primary">
                  View Detail 
                  </button>
               </div>
            </div>
            <div class="title-right">
               <div class="job_image">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
               </div>
               <br>
            </div>
         </div>
      </div>
   </div>
   <!-- End -->


   <!-- Start -->
   <div class="overall_job_box">
      <div class="job-wrapper">
         <div class="job-box">
            <div class="title-left">
               <div class="job_title">
                  Senior Creative Front End Web Developer
               </div>
               <div class="job_company">
                  company : SweetRush
               </div>
               <div class="job_location">
                  location : Remote
               </div>
               <div class="job_type">
                  Job type : Remote
               </div>
               <div class="job_created_at">
                  Date : Wed May 19 00:49:17 UTC 2021
               </div>
               <div class="job_view_link">
                  <button mat-raised-button color="primary">
                  View Detail 
                  </button>
               </div>
            </div>
            <div class="title-right">
               <div class="job_image">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
               </div>
               <br>
            </div>
         </div>
      </div>
   </div>
   <!-- End -->


   <!-- Start -->
   <div class="overall_job_box">
      <div class="job-wrapper">
         <div class="job-box">
            <div class="title-left">
               <div class="job_title">
                  Senior Creative Front End Web Developer
               </div>
               <div class="job_company">
                  company : SweetRush
               </div>
               <div class="job_location">
                  location : Remote
               </div>
               <div class="job_type">
                  Job type : Remote
               </div>
               <div class="job_created_at">
                  Date : Wed May 19 00:49:17 UTC 2021
               </div>
               <div class="job_view_link">
                  <button mat-raised-button color="primary">
                  View Detail 
                  </button>
               </div>
            </div>
            <div class="title-right">
               <div class="job_image">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
               </div>
               <br>
            </div>
         </div>
      </div>
   </div>
   <!-- End -->


   <!-- Start -->
   <div class="overall_job_box">
      <div class="job-wrapper">
         <div class="job-box">
            <div class="title-left">
               <div class="job_title">
                  Senior Creative Front End Web Developer
               </div>
               <div class="job_company">
                  company : SweetRush
               </div>
               <div class="job_location">
                  location : Remote
               </div>
               <div class="job_type">
                  Job type : Remote
               </div>
               <div class="job_created_at">
                  Date : Wed May 19 00:49:17 UTC 2021
               </div>
               <div class="job_view_link">
                  <button mat-raised-button color="primary">
                  View Detail 
                  </button>
               </div>
            </div>
            <div class="title-right">
               <div class="job_image">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
               </div>
               <br>
            </div>
         </div>
      </div>
   </div>
   <!-- End -->


</div>